# these submodules are optional
# delete this wth??? #todo
[submodule "lgi"]
	path = elf-lgi/lgi
	url = https://github.com/MicroRJ/lgi
[submodule "raylib"]
	path = elf-ray/raylib
	url = https://github.com/raysan5/raylib
[submodule "raygui"]
	path = elf-ray/raygui
	url = https://github.com/raysan5/raygui
[submodule "platform"]
	path = platform
	url = https://github.com/MicroRJ/platform.git
